img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.flex-container {
    display:flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

header {
    max-width: 500px;
    margin: auto;
}

footer {
    max-width: 500px;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}