img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

body {
    background-color: #db9833;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    max-width: 500px;
    margin: auto;
}

p {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    max-width: 800px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.flex-container {
    display: flex;
    flex-direction: column;
}
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: ridge;
    background-color: #7e9a9a;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: ridge;
    background-color: #7e9a9a;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: ridge;
    background-color: #7e9a9a;
    width: 1000px;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6d8ac;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

